{% extends 'base.html' %}

{% block content %}
<h1>{{pet.name}}</h1>
<p>Name:{{pet.name}}</p>
<p>Species:{{pet.species}}</p>
{% if pet.photo_url %}
<img src="{{ pet.photo_url }}">
{% endif %}
{% if pet.age %}
<p>Age:{{pet.age}}</p>
{% endif %}
<br>
<form method="post">
    {% for field in form if field.widget.input_type != 'hidden'%}

    {{ field.label }}
    {{ field }}


    <span>
        {% if field.errors %}
        {% for error in field.errors %}
        <b>{{ error }}</b>
        {% endfor %}
        {% endif %}
    </span>

    {% endfor %}

    <button type="submit">Submit</button>
</form>

{% endblock %}